{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">{{ course.title }}</h2>
    <p>{{ course.description }}</p>
    <hr>
    <h4>Уроки курса:</h4>
    <div class="list-group">
        {% for lesson in course.lessons.all %}
            <a href="{% url 'lesson_detail' course_id=course.id lesson_id=lesson.id %}" class="list-group-item list-group-item-action">
                {{ lesson.title }}
            </a>
        {% endfor %}
    </div>
    <a href="{% url 'courses_list' %}">Вернуться к списку курсов</a>
</div>
{% endblock %}

